In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("./Data/flights.csv", index_col=0)

# 1.

In [16]:
# a. find flights whose dep_delay is greater than 60
df[df['dep_delay'] > 60]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
120,2013,1,1,811.0,630,101.0,1047.0,830,137.0,MQ,4576,N531MQ,LGA,CLT,118.0,544,6,30,2013-01-01 06:00:00
136,2013,1,1,826.0,715,71.0,1136.0,1045,51.0,AA,443,N3GVAA,JFK,MIA,160.0,1089,7,15,2013-01-01 07:00:00
152,2013,1,1,848.0,1835,853.0,1001.0,1950,851.0,MQ,3944,N942MQ,JFK,BWI,41.0,184,18,35,2013-01-01 18:00:00
219,2013,1,1,957.0,733,144.0,1056.0,853,123.0,UA,856,N534UA,EWR,BOS,37.0,200,7,33,2013-01-01 07:00:00
269,2013,1,1,1114.0,900,134.0,1447.0,1222,145.0,UA,1086,N76502,LGA,IAH,248.0,1416,9,0,2013-01-01 09:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336743,2013,9,30,2119.0,2005,74.0,2310.0,2212,58.0,EV,4321,N17984,EWR,MCI,147.0,1092,20,5,2013-09-30 20:00:00
336758,2013,9,30,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30 18:00:00
336761,2013,9,30,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,2013-09-30 20:00:00
336763,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-09-30 21:00:00
336764,2013,9,30,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,2013-09-30 20:00:00

In [8]:
# b. find flights whose destination is LAX
df[df['dest'] == "LAX"]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
13,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,2013-01-01 06:00:00
38,2013,1,1,628.0,630,-2.0,1016.0,947,29.0,UA,1665,N33289,EWR,LAX,366.0,2454,6,30,2013-01-01 06:00:00
64,2013,1,1,658.0,700,-2.0,1027.0,1025,2.0,VX,399,N627VA,JFK,LAX,361.0,2475,7,0,2013-01-01 07:00:00
70,2013,1,1,702.0,700,2.0,1058.0,1014,44.0,B6,671,N779JB,JFK,LAX,381.0,2475,7,0,2013-01-01 07:00:00
92,2013,1,1,743.0,730,13.0,1107.0,1100,7.0,AA,33,N338AA,JFK,LAX,358.0,2475,7,30,2013-01-01 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336698,2013,9,30,2017.0,2017,0.0,2253.0,2320,-27.0,UA,771,N510UA,JFK,LAX,304.0,2475,20,17,2013-09-30 20:00:00
336705,2013,9,30,2028.0,1910,78.0,2255.0,2215,40.0,AA,21,N338AA,JFK,LAX,294.0,2475,19,10,2013-09-30 19:00:00
336722,2013,9,30,2051.0,2054,-3.0,2348.0,2359,-11.0,B6,523,N605JB,JFK,LAX,304.0,2475,20,54,2013-09-30 20:00:00
336745,2013,9,30,2121.0,2100,21.0,2349.0,14,-25.0,DL,2363,N193DN,JFK,LAX,296.0,2475,21,0,2013-09-30 21:00:00
336752,2013,9,30,2140.0,2140,0.0,10.0,40,-30.0,AA,185,N335AA,JFK,LAX,298.0,2475,21,40,2013-09-30 21:00:00

In [15]:
# c. find flights whose carrier is not UA or AA or DL.
df[~df['carrier'].isin(["UA", "AA", "DL"])]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
7,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01 06:00:00
8,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,2013-01-01 06:00:00
9,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01 06:00:00
11,2013,1,1,558.0,600,-2.0,849.0,851,-2.0,B6,49,N793JB,JFK,PBI,149.0,1028,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336772,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336773,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336774,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336775,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336776,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [17]:
# d. find flights whose departure month is in June, July or August.
df[df["month"].isin([6, 7, 8])]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
222208,2013,6,1,2.0,2359,3.0,341.0,350,-9.0,B6,739,N618JB,JFK,PSE,200.0,1617,23,59,2013-06-01 23:00:00
222209,2013,6,1,451.0,500,-9.0,624.0,640,-16.0,US,1431,N538UW,EWR,CLT,75.0,529,5,0,2013-06-01 05:00:00
222210,2013,6,1,506.0,515,-9.0,715.0,800,-45.0,UA,1686,N35407,EWR,IAH,172.0,1400,5,15,2013-06-01 05:00:00
222211,2013,6,1,534.0,545,-11.0,800.0,829,-29.0,UA,1451,N27724,LGA,IAH,178.0,1416,5,45,2013-06-01 05:00:00
222212,2013,6,1,538.0,545,-7.0,925.0,922,3.0,B6,725,N806JB,JFK,BQN,203.0,1576,5,45,2013-06-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309198,2013,8,31,2359.0,2359,0.0,346.0,340,6.0,B6,839,N645JB,JFK,BQN,193.0,1576,23,59,2013-08-31 23:00:00
309199,2013,8,31,NaN,1555,NaN,NaN,1734,NaN,9E,3459,NaN,JFK,BNA,NaN,765,15,55,2013-08-31 15:00:00
309200,2013,8,31,NaN,630,NaN,NaN,805,NaN,AA,303,N479AA,LGA,ORD,NaN,733,6,30,2013-08-31 06:00:00
309201,2013,8,31,NaN,1004,NaN,NaN,1135,NaN,EV,5736,N909EV,LGA,IAD,NaN,229,10,4,2013-08-31 10:00:00
309202,2013,8,31,NaN,600,NaN,NaN,716,NaN,EV,5747,N825AS,LGA,IAD,NaN,229,6,0,2013-08-31 06:00:00

In [21]:
# e. find flights whose dep_delay is greater than 30, but arr_delay is less than 0.
df[(df["dep_delay"] > 30) & (df["arr_delay"] < 0)]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
235,2013,1,1,1025.0,951,34.0,1258.0,1302,-4.0,UA,501,N437UA,EWR,MCO,137.0,937,9,51,2013-01-01 09:00:00
953,2013,1,2,727.0,645,42.0,1024.0,1028,-4.0,UA,277,N820UA,EWR,SNA,338.0,2434,6,45,2013-01-02 06:00:00
1724,2013,1,2,2053.0,2022,31.0,2331.0,2356,-25.0,UA,299,N539UA,EWR,SFO,316.0,2565,20,22,2013-01-02 20:00:00
2372,2013,1,3,1628.0,1550,38.0,1922.0,1925,-3.0,DL,1773,N675DL,JFK,SLC,266.0,1990,15,50,2013-01-03 15:00:00
2670,2013,1,3,2152.0,2120,32.0,2346.0,2351,-5.0,B6,97,N524JB,JFK,DEN,212.0,1626,21,20,2013-01-03 21:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334828,2013,9,28,1946.0,1905,41.0,2119.0,2131,-12.0,9E,3285,N915XJ,JFK,MSY,137.0,1182,19,5,2013-09-28 19:00:00
334830,2013,9,28,2003.0,1930,33.0,2122.0,2123,-1.0,9E,3497,N929XJ,JFK,RDU,64.0,427,19,30,2013-09-28 19:00:00
334846,2013,9,28,2041.0,2005,36.0,2247.0,2300,-13.0,UA,1022,N36272,EWR,IAH,166.0,1400,20,5,2013-09-28 20:00:00
336663,2013,9,30,1940.0,1900,40.0,2228.0,2232,-4.0,DL,1465,N723TW,JFK,SFO,323.0,2586,19,0,2013-09-30 19:00:00
336683,2013,9,30,2005.0,1930,35.0,2118.0,2125,-7.0,9E,3497,N926XJ,JFK,RDU,58.0,427,19,30,2013-09-30 19:00:00

In [24]:
# f. find flights whose dep_time is over 11pm, or dep_time is earlier than 6am.
df[(df['dep_time']>2300) | (df['dep_time']<600)]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335804,2013,9,30,558.0,600,-2.0,815.0,829,-14.0,EV,4137,N16981,EWR,ATL,107.0,746,6,0,2013-09-30 06:00:00
335805,2013,9,30,558.0,600,-2.0,742.0,749,-7.0,DL,731,N337NB,LGA,DTW,83.0,502,6,0,2013-09-30 06:00:00
335806,2013,9,30,559.0,600,-1.0,NaN,715,NaN,WN,464,N411WN,EWR,MDW,NaN,711,6,0,2013-09-30 06:00:00
336769,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00
336770,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-09-30 23:00:00

# 2.

In [27]:
# a: find flights whose arr_time is missing: cancelled flights.
arr_time_null = df[df["arr_time"].isnull()]
arr_time_null

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
755,2013,1,1,2016.0,1930,46.0,NaN,2220,NaN,EV,4204,N14168,EWR,OKC,NaN,1325,19,30,2013-01-01 19:00:00
839,2013,1,1,NaN,1630,NaN,NaN,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416,16,30,2013-01-01 16:00:00
840,2013,1,1,NaN,1935,NaN,NaN,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389,19,35,2013-01-01 19:00:00
841,2013,1,1,NaN,1500,NaN,NaN,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096,15,0,2013-01-01 15:00:00
842,2013,1,1,NaN,600,NaN,NaN,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336772,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336773,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336774,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336775,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336776,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [37]:
# b. for these flights, group them by month, and find out no. of cancelled flights in each month.
arr_time_null.groupby("month")["month"].count()

month
1      536
2     1291
3      891
4      710
5      601
6     1072
7     1043
8      506
9      504
10     247
11     253
12    1059
Name: month, dtype: int64

# 3.

In [46]:
df["speed"] = df.distance / df.arr_time
df[['speed','year','month','day','dest','dep_time','arr_time']].sort_values("speed").head(20)

           speed  year  month  day dest  dep_time  arr_time
11250   0.033333  2013      1   13  PHL    2243.0    2400.0
14919   0.033927  2013      1   17  PHL    2318.0    2358.0
21814   0.033941  2013      1   25  PHL    2305.0    2357.0
20909   0.034043  2013      1   24  PHL    2241.0    2350.0
25963   0.034173  2013      1   30  PHL    2244.0    2341.0
114628  0.034291  2013      2    4  PHL    2231.0    2333.0
15833   0.034483  2013      1   18  PHL    2231.0    2320.0
19089   0.034527  2013      1   22  PHL    2203.0    2317.0
17293   0.034542  2013      1   20  PHL    2219.0    2316.0
6973    0.034722  2013      1    8  PHL    2127.0    2304.0
24206   0.035414  2013      1   28  PHL    2201.0    2259.0
113683  0.035603  2013      2    3  PHL    2153.0    2247.0
115506  0.035746  2013      2    5  PHL    2136.0    2238.0
26875   0.035810  2013      1   31  PHL    2129.0    2234.0
117353  0.035810  2013      2    7  PHL    2145.0    2234.0
9731    0.035826  2013      1   11  PHL    2135.0    2233.0
5131    0.035971  2013      1    6  PHL    2125.0    2224.0
8808    0.035987  2013      1   10  PHL    2133.0    2223.0
2659    0.036004  2013      1    3  PHL    2127.0    2222.0
25146   0.036020  2013      1   29  PHL    2131.0    2221.0

# 4.

In [55]:
# 4. group flights by carrier, and find the average arrival delay in each group, and sort the data by the averaged arrival delay.
df.groupby("carrier")["arr_delay"].agg("mean").sort_values()

carrier
AS    -9.930889
HA    -6.915205
AA     0.364291
DL     1.644341
VX     1.764464
US     2.129595
UA     3.558011
9E     7.379669
B6     9.457973
WN     9.649120
MQ    10.774733
OO    11.931034
YV    15.556985
EV    15.796431
FL    20.115906
F9    21.920705
Name: arr_delay, dtype: float64

# 5.

In [58]:
# 5. create a variable deviance as the absolute value of arrival delay, group flights by carrier, and find the average arrival delay in each group, and sort the data by the averaged arrival delay.
df["deviance"] = abs(df.arr_delay)
df.groupby("carrier")["deviance"].agg("mean").sort_values()

carrier
US    19.372699
DL    24.352763
MQ    24.581260
UA    24.632706
AA    25.282624
B6    25.494533
WN    26.240120
HA    26.786550
VX    28.163995
AS    28.252468
FL    28.938583
OO    29.862069
9E    30.439574
EV    30.451045
F9    32.854626
YV    32.895221
Name: deviance, dtype: float64